.footer {
  padding: 10rem 0;
  background: $color-grey-dark-3;
  font-size: 1.4rem;

  text-align: center;

  &__logo-box {
    text-align: center;
    margin-bottom: 4rem;

    @include respond (tab-port) {
      margin-bottom: 3rem;
    }
  }

  &__logo {
    width: 15rem;
    height: auto;
  }

  &__navigation {
    border-top: solid 1px $color-grey-dark;
    padding-top: 2rem;
    display: inline-block;
    text-align: center;
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;
    padding: .5rem;

    &:not(:last-child) {
      margin-right: 1.5rem;

      @include respond(tab-port) {
        margin-right: 1rem;
      }
    }
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      color: $color-grey-light-1;
      display: inline-block;
      text-transform: uppercase;
      transition: all 0.3s;
      background-color: $color-grey-dark-3;
    }

    &:hover,
    &:active {
      box-shadow: 0 0.5rem 2rem rgba($color-black, 0.3);
      color: $color-primary;
      transform: rotate(5deg) scale(1.1);
    }
  }
}
